.report-modal {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #5b49fd;
    font-size: 1em;
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    height: 400px;
}

#send:hover,
#close:hover {
    cursor: pointer;
}