.slider-root {
    position: relative;
    display: flex;
    align-items: center;
    height: 20px;
    width: 100%;
}

.slider-track {
    background-color: #f7b500;
    position: relative;
    flex-grow: 1;
    height: 4px;
    border-radius: 999px;
}

.slider-range {
    position: absolute;
    background-color: #ff6d00;
    height: 100%;
    border-radius: 999px;
}

.slider-thumb {
    display: block;
    width: 15px;
    height: 15px;
    background-color: #7b2cbf;
    border-radius: 50%;
    cursor: pointer;
}

.slider-thumb:focus {
    outline: none;
    box-shadow: 0 0 0 4px #9d4edd59;
}