.slider-root {
    position: relative;
    display: flex;
    align-items: center;
    height: 20px;
    width: 100%;
}

.slider-track {
    background: linear-gradient(to right, #fff04c, #ffc545, #ff9b3e, #ff7037, #d15053, #a3306f, #75108b, #110015, #b8d14b);
    position: relative;
    flex-grow: 1;
    height: 4px;
    border-radius: 999px;
}

.slider-range {
    position: absolute;
    background-color: none;
    height: 100%;
    border-radius: 999px;
}

.slider-thumb {
    display: block;
    width: 15px;
    height: 15px;
    background-color: #7b2cbf;
    border-radius: 50%;
    cursor: pointer;
}

.slider-thumb:focus {
    outline: none;
    box-shadow: 0 0 0 4px #9d4edd59;
}